# Chapter 8

In [1]:
pip install pretty-jupyter

Requirement already satisfied: pretty-jupyter in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (2.0.7)
Requirement already satisfied: click in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pretty-jupyter) (8.1.7)
Requirement already satisfied: ipython>=7.1 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pretty-jupyter) (8.22.2)
Requirement already satisfied: nbconvert<7.0,>=6.0 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pretty-jupyter) (6.5.4)
Requirement already satisfied: jinja2>=3.0 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pretty-jupyter) (3.1.3)
Requirement already satisfied: ipython-genutils>=0.1 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pretty-jupyter) (0.2.0)
Requirement already satisfied: pyyaml>=5 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pretty-jupyter) (6.0.1)
Requirement already satisfied: cerberus>=1.1 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pretty-jupyter) (1.3.5)
Requirement already satisfied: decorator in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython>=7.1->pretty-jupyter) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython>=7.1->pretty-jupyter) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython>=7.1->pretty-jupyter) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython>=7.1->pretty-jupyter) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython>=7.1->pretty-jupyter) (2.17.2)
Requirement already satisfied: stack-data in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython>=7.1->pretty-jupyter) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython>=7.1->pretty-jupyter) (5.14.1)
Requirement already satisfied: pexpect>4.3 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from ipython>=7.1->pretty-jupyter) (4.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from jinja2>=3.0->pretty-jupyter) (2.1.5)
Requirement already satisfied: lxml in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (5.1.0)
Requirement already satisfied: beautifulsoup4 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (4.12.3)
Requirement already satisfied: bleach in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (6.1.0)
Requirement already satisfied: defusedxml in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (0.4)
Requirement already satisfied: jupyter-core>=4.7 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (5.7.1)
Requirement already satisfied: jupyterlab-pygments in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (0.3.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (0.8.0)
Requirement already satisfied: nbformat>=5.1 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (5.9.2)
Requirement already satisfied: packaging in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (23.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (1.5.0)
Requirement already satisfied: tinycss2 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbconvert<7.0,>=6.0->pretty-jupyter) (1.2.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from jedi>=0.16->ipython>=7.1->pretty-jupyter) (0.8.3)
Requirement already satisfied: platformdirs>=2.5 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from jupyter-core>=4.7->nbconvert<7.0,>=6.0->pretty-jupyter) (4.2.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbclient>=0.5.0->nbconvert<7.0,>=6.0->pretty-jupyter) (8.6.0)
Requirement already satisfied: fastjsonschema in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbformat>=5.1->nbconvert<7.0,>=6.0->pretty-jupyter) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from nbformat>=5.1->nbconvert<7.0,>=6.0->pretty-jupyter) (4.21.1)
Requirement already satisfied: ptyprocess>=0.5 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pexpect>4.3->ipython>=7.1->pretty-jupyter) (0.7.0)
Requirement already satisfied: wcwidth in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.1->pretty-jupyter) (0.2.13)
Requirement already satisfied: soupsieve>1.2 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from beautifulsoup4->nbconvert<7.0,>=6.0->pretty-jupyter) (2.5)
Requirement already satisfied: six>=1.9.0 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from bleach->nbconvert<7.0,>=6.0->pretty-jupyter) (1.16.0)
Requirement already satisfied: webencodings in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from bleach->nbconvert<7.0,>=6.0->pretty-jupyter) (0.5.1)
Requirement already satisfied: executing>=1.2.0 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from stack-data->ipython>=7.1->pretty-jupyter) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from stack-data->ipython>=7.1->pretty-jupyter) (2.4.1)
Requirement already satisfied: pure-eval in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from stack-data->ipython>=7.1->pretty-jupyter) (0.2.2)
Requirement already satisfied: attrs>=22.2.0 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert<7.0,>=6.0->pretty-jupyter) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert<7.0,>=6.0->pretty-jupyter) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert<7.0,>=6.0->pretty-jupyter) (0.33.0)
Requirement already satisfied: rpds-py>=0.7.1 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert<7.0,>=6.0->pretty-jupyter) (0.18.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert<7.0,>=6.0->pretty-jupyter) (2.9.0)
Requirement already satisfied: pyzmq>=23.0 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert<7.0,>=6.0->pretty-jupyter) (25.1.2)
Requirement already satisfied: tornado>=6.2 in /Users/nathan/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert<7.0,>=6.0->pretty-jupyter) (6.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
title: 'Chapter8Workalong.ipynb'
author: 'Nathan'

In [3]:
%load_ext pretty_jupyter

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.Series(np.random.randn(9),
index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], [1,2,3,1,3,1,2,2,3]])

In [6]:
data

a  1   -0.637279
   2    0.695636
   3    0.900828
b  1   -0.661329
   3    0.830887
c  1   -1.355869
   2   -0.192892
d  2   -0.151239
   3   -0.754218
dtype: float64

In [7]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [8]:
data['b']

1   -0.661329
3    0.830887
dtype: float64

In [9]:
data['b':'c']

1   -0.661329
3    0.830887
1   -1.355869
2   -0.192892
dtype: float64

In [10]:
data.loc[['b', 'd']]

b  1   -0.661329
   3    0.830887
d  2   -0.151239
   3   -0.754218
dtype: float64

In [11]:
data.loc[:, 2]

a    0.695636
c   -0.192892
d   -0.151239
dtype: float64

In [12]:
data.unstack()

          1         2         3
a -0.637279  0.695636  0.900828
b -0.661329       NaN  0.830887
c -1.355869 -0.192892       NaN
d       NaN -0.151239 -0.754218

In [13]:
data.unstack().stack()

a  1   -0.637279
   2    0.695636
   3    0.900828
b  1   -0.661329
   3    0.830887
c  1   -1.355869
   2   -0.192892
d  2   -0.151239
   3   -0.754218
dtype: float64

In [14]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
columns=[['Ohio', 'Ohio', 'Colorado'],
         ['Green', 'Red', 'Green']])

In [15]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [16]:
frame.index.names = ['key1', 'key2']

In [17]:
frame.columns.names = ['state', 'color']

In [18]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [19]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [20]:
try:
    MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']],
                           names=['state', 'color'])

except NameError:
        # Handle the case where ':' is not found in val
    print("NameError: name 'MultiIndex' is not defined")

except AttributeError:
        # Handle the case where ':' is not found in val
    print("AttributeError: 'list' object has no attribute 'from_arrays'")

NameError: name 'MultiIndex' is not defined

In [21]:
frame.swaplevel('key1', 'key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [22]:
frame.sort_index(level=1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [44]:
frame.swaplevel(0,1).sort_index(level=0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

In [45]:
frame.swaplevel(0, 1).sort_index(level=0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

In [46]:

# try:
frame.sum(level='key2')
# ridiculous error had to pip install pandas==1.5.3 (worked - based on comment I saw)
# except TypeError:
  #  print("TypeError: sum() got an unexpected keyword argument 'level'")

/var/folders/9f/51kqfykj067ddd68rlj_8mv40000gp/T/ipykernel_70057/3206265967.py:2: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  frame.sum(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [62]:
frame.sum(level='color', axis=1)

/var/folders/9f/51kqfykj067ddd68rlj_8mv40000gp/T/ipykernel_70057/4133796543.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  frame.sum(level='color', axis=1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

frame = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1), 'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'], 'd':[0,1,2,0,1,2,3]})

In [63]:
frame.columns

MultiIndex([(    'Ohio', 'Green'),
            (    'Ohio',   'Red'),
            ('Colorado', 'Green')],
           names=['state', 'color'])

In [64]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [65]:
frame2 = frame.set_index(['c', 'd'], drop=False)

KeyError: "None of ['c', 'd'] are in the columns"

In [66]:
frame2.reset_index()

NameError: name 'frame2' is not defined

In [67]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})

In [68]:
pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

  key  data2
0   a      0
1   b      1
2   d      2

In [69]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [70]:
pd.merge(df1, df2)

NameError: name 'df2' is not defined

In [71]:
frame2.reset_index()

NameError: name 'frame2' is not defined